table, th, td{
    border-bottom: 2px solid blue;
    border-collapse: collapse;
    padding: 10px;
}
tbody{
    text-align: center;
}
table{
    width: 80%;
}
th{
    background-color: aquamarine;
    color: white ;
}
tr:nth-child(even){
    background-color: antiquewhite;
}
tr:hover{
    background-color:darkgray;
}
.one{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
table{
    margin: auto;
    margin-top: 50px;
}